p {
    color: red;
}

.class {
    color: red;
}

#id {
    color: red;
}

h1 {
    background-color: hotpink;
}

h1 em {
    color: green;
}

p>strong {
    color: red;
}

a:link:hover {
    color: seagreen;
}

a:visited:hover {
    color: red;
}